body {
    background-color: #f9f9f9;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.header h1 {
    color:#37323e;
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


